<div class="container">
	<hr>
	<div class="text-center">
		<form ng-submit="addUser()">
			<h2 class="white">Please create an account to view our products.</h2>
			<div><h3 class="white">Email:</h3><input type="email" ng-model="newUser.email"></div>
			<div><h3 class="white">Password:</h3><input type="password" ng-model="newUser.password"></div>
			<br>
			<button class="btn-primary">Register</button>
		</form>
		<br>
		<br>
		<a ui-sref="login" class="white link">Already have an account? Login here!</a>
	</div>
</div>