<div class="container">
	<div class="text-center">
		<a ui-sref="home"><button class="btn-primary glyphicon glyphicon-home selected">Home</button></a>
		<a ui-sref="movies"><button class="btn-primary glyphicon glyphicon-film">Movies</button></a>
		<a ui-sref="cart"><button class="btn-primary glyphicon glyphicon-shopping-cart" ng-click="getItems()">Cart</button></a>
		<a ui-sref="logout"><button class="btn-danger glyphicon glyphicon-log-out" ng-click="logoutUser()">Logout</button></a>
	</div>
<hr>
<h2 class="text-center white underline">New Releases</h1>
<br>
<br>
<div class="row">
	<div class="col-md-3 white text-center"><h4 class="underline">Cover Art</h4></div>
	<div class="col-md-3 white text-center"><h4 class="underline">Title</h4></div>
	<div class="col-md-3 white text-center"><h4 class="underline">Price</h4></div>
	<div class="col-md-3 white text-center"><h4 class="underline">Purchase<h4></div>
</div>
<div ng-repeat="newRelease in newReleases" class="white row" ng-hide="newRelease.image === 'http://img.bbystatic.com/BestBuy_US/images/products/nonsku/default_movies_l.jpg'">
	<br>
	<div class="col-md-3 text-center"><img ng-src="{{newRelease.image}}"></div>
	<div class="col-md-3 text-center title">{{newRelease.name}}</div>
	<div class="col-md-3 text-center price">${{newRelease.salePrice}}</div>
	<div class="col-md-3 text-center"><button class="btn-success" ng-click="addItem(newRelease)">Add To Cart</button></div>
</div>
