body {
	background-image: url('/images/movie_theatre.jpg');
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.white {
	color: white;
}
a:hover, a:visited {
	color: white;
}
.link {
	font-size: 1.3em;
}