html {
  position: relative;
  min-height: 100%;
}
body {
	background-image: url('/images/movie_theatre.jpg');
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin-bottom: 5%;
	font-family: 'Aclonica', serif;
}
img {
	width: 50%;
	height: 50%;
}
.white {
	color: white;
}
.underline {
	text-decoration: underline;
}
a:hover, a:visited {
	color: white;
}
.title, .price, .quantity, .link {
	font-size: 1.5em !important;
}
.search {
	width: 20%;
}
.selected, .selected:hover {
	background-color: white;
	color: #337ab7;
	border-color: white;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer h6 {
	font-size: 1.1em !important;
}


@media (max-width: 991px) {
	body {
		background-image: none;
		background-color: slategray;
	}
	img {
		height: 20%;
		width: 20%;
	}
	.this {
		display: none;
	}
}