<div class="container">
	<hr>
	<div class="text-center">
		<form ng-submit="loginUser()">
			<h2 class="white">Please login to view our products.</h2>
			<div><h3 class="white">Username:</h3><input type="text" ng-model="username"></div>
			<div><h3 class="white">Password:</h3><input type="password" ng-model="password"></div>
			<br>
			<button class="btn btn-primary">Login</button>
		</form>
		<br>
		<br>
		<a ui-sref="signup" class="white link">Don't have an account? Create one here!</a>
	</div>
</div>