<div class="container">
	<div class="text-center">
		<a ui-sref="home"><button class="btn-primary glyphicon glyphicon-home">Home</button></a>
		<a ui-sref="movies"><button class="btn-primary glyphicon glyphicon-film">Movies</button></a>
		<a ui-sref="user"><button class="btn-primary glyphicon glyphicon-user">Account</button></a>
		<a ui-sref="cart"><button class="btn-primary glyphicon glyphicon-shopping-cart">Cart</button></a>
		<a ui-sref="login"><button class="btn-danger glyphicon glyphicon-log-out">Logout</button></a>
	</div>
<hr>
</div>